body {
    margin: 0;
    background-color: #37474F;
    font-family: 'Montserrat', Arial, sans-serif;
}

.navbar {
    display: grid;
    grid-template-columns: auto auto;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 0;
    margin: auto;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-size: 18pt;
}

.navbar a.active {
    font-weight: 500; 
}

.nav-bottom-line {
    border: 0;
    height: 1px;
    background: #CFD8DC;
    width: 93%;
}

.page-content {
    width: 95%;
    margin: auto;
    margin-top: 160px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.page-header {
    width: 95%;
    height: 100px;
    margin: auto;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #37474F;
    opacity: 0.95;
    z-index: 99;
}

footer {
    background-color: #263238;
    opacity: 0.9;
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.copyright {
    text-align: center;
    font-size: 14pt;
    color: #ECEFF1;
    font-weight: 500;
    text-align: left;
}

.footer-social-container {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: auto 45px 45px 45px auto;
    grid-column-gap: 20px;
    width: 100%;
    text-align: center;
}

.footer-social-container a img {
    width: 42px;
    height: 42px;
    transition: opacity 0.3s;
}

.footer-social-container a img:hover {
    opacity: 0.5;
}

.footer-links-container {
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto 300px auto auto;
    grid-column-gap: 60px;
    grid-row-gap: 10px;
    align-items: center;
}

.links {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.footer-links-container a {
    text-decoration: none;
    color: #CFD8DC;
    font-size: 10pt;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
    transition: color 0.3s;
}

.footer-links-container a:hover {
    color: #ECEFF1;
    font-weight: 400;
}

.footer-separator {
    border: 0;
    height: 1px;
    background: #B0BEC5;
    opacity: 0.5;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vertical-separator {
    border-left: 1px solid #78909C;
}

.blog-headers {
    text-align: center;
}

.blog-title {
    color: #ECEFF1;
}

.blog-subtitle {
    color: #B0BEC5;
}

@media screen and (max-width: 1100px) {

    .footer-separator {
        width: 80%;
    }

    .footer-links-container {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {

    .footer-links-container {
        grid-template-columns: auto;
    }

    .footer-links-container .separator {
        display: none;
    }

    .copyright {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .footer-social-container a img {
        width: 30px;
        height: 30px;
    }
}