.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.card {
    width: 100%;
    height: 250px;
    background-color: white;
    box-sizing: border-box;
    background-size: cover;
    position: relative;
    cursor: pointer;
}

.card-article-title {
    color: #FAFAFA;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 16pt;
}

.card-article-summary-container {
    background-color: #FAFAFA;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    transition: height 0.5s;
    overflow: hidden;
}

.card:hover .card-article-summary-container {
    height: 30%;
}

.card-article-summary {
    padding: 20px;
}
